IO_LOC  "sys_clk" V22;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC  "hp_bck" Y17;
IO_PORT "hp_bck" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "hp_ws" AB17;
IO_PORT "hp_ws" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "hp_din" AA16;
IO_PORT "hp_din" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "pa_en" AB16;
IO_PORT "pa_en" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
